name: build

on: [push, pull_request]

env:
  PY_COLORS: 1

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8, 3.9, pypy-3.6, pypy-3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox
      - name: Run tests
        run: tox -e py

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install tox
      - name: Run lint
        run: tox -e lint

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install tox
      - name: Run format
        run: tox -e format

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install tox
      - name: Run docs
        run: |
          tox -e docs
          mkdir -p dist
          tar czf dist/docs.tar.gz -C build docs
      - name: Save docs artifacts
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: dist/docs.tar.gz

  build:
    needs: [tests, lint, format]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # fetch all commits for setuptools_scm
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Save build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  publish:
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Restore build artifacts
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.pypi_password }}

  deploy-docs:
    needs: [docs, publish]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Restore build artifacts
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: dist
      - name: Extract docs
        run: tar xf dist/docs.tar.gz
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: docs
